<%= link_to admin_stories_path(anchor: "story-#{@story.id}"), class: "btn btn-link" do %>
  &#8592; <%= I18n.t('text.back') %>
<% end %>
<div class="row">
  <div class="col-lg-9">
  	<div class="row">
			<%= render @story %>
		</div>
	</div>
</div>