<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 footer-box wow fadeInDown">
                <div class="container">
                  <p><span aria-hidden="true" class="icon_pin"></span>413台中市霧峰區柳豐路500號M302室</p>
                  <p><span aria-hidden="true" class="icon_phone"></span> 電話: (04)23323456＃5951</p>
                  <p><span aria-hidden="true" class="icon_mail"></span> Email: <a href="#">taiwanfamilyhope@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>