<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
           <!-- <div class="col-sm-3 footer-box wow fadeInUp">
                <h4>About Us</h4>
                <div class="footer-box-text">
                  <p>
                  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
                  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                  </p>
                  <p><a href="about.html">Read more...</a></p>
                </div>
            </div>-->
             <!-- <div class="col-sm-3 footer-box wow fadeInDown">
                <h4>Email Updates</h4>
                <div class="footer-box-text footer-box-text-subscribe">
                	<p>Enter your email and you'll be one of the first to get new updates:</p>
                	<form role="form" action="assets/subscribe.php" method="post">
                	<div class="form-group">
                		<label class="sr-only" for="subscribe-email">Email address</label>
                    	<input type="text" name="email" placeholder="Email..." class="subscribe-email form-control" id="subscribe-email">
                    </div>
                    <button type="submit" class="btn">Subscribe</button>
                </form>
                <p class="success-message"></p>
                <p class="error-message"></p>
                </div>
            </div>-->
            <!-- <div class="col-sm-3 footer-box wow fadeInUp">
                <h4>Flickr Photos</h4>
                <div class="footer-box-text flickr-feed"></div>
            </div>-->
            <div class="col-sm-3 footer-box wow fadeInDown">
                <div class="container">
                  <p><span aria-hidden="true" class="icon_pin"></span> 、議者請百民委人重，他原喜年年上教她點生：之這去一家懷市站</p>
                  <p><span aria-hidden="true" class="icon_phone"></span> 電話: 0039 333 12 68 347</p>
                  <p><span aria-hidden="true" class="icon_mail"></span> Email: <a href="#">taiwanfamilyhope@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>