<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
            <div class=" page-title wow fadeIn text-left">
                
                <h1>關於我們！</h1>
               
            </div>
        </div>
    </div>
</div>

<!-- About Us Text -->
<div class="about-us-container">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 about-us-text wow fadeInLeft about-p">
              <h2>董事長的話</h2>
              <p>
                敬愛的社團法人臺灣家庭希望發展協會全體會員與關心本會的朋友，

                感謝協會會員們的厚愛，以及各位理事的支持，讓本人有此榮幸擔任第一屆的理事長，為本會全體會員服務。

                社團法人臺灣家庭希望發展協會於2014年開始籌備，於隔年選出第一屆理監事，並依法立案為全國性人民團體，2016年則完成社團法人登記。協會理監事主要由亞洲大學社會工作學系師生、及各界關心臺灣兒童及家庭發展之學者及實務工作者所組成。本會為使弱勢兒少及其家庭能「懷抱希望，健康發展」，增強弱勢兒少及其家庭之人力資本、財務資本及社會資本，逐步投入各項服務。
                <br>
                <br>本會於成立之初為推展會務，即成立志工隊，開始投入志願服務，如今志工隊人數約30人，主要由亞洲大學在學生組成。自2014年起，本會志工隊即投入大里竹子坑教會之課後照顧，辦理團體協助教會從學業與品格上照顧社區弱勢學童，減輕弱勢家庭的扶養壓力。本會並自2017年起，承辦彰化縣「兒童及少年結束家外安置後續追蹤輔導服務」、「兒童及少年性剝削防制家長親職教育暨安置後返家後續追蹤輔導服務」及「兒童及少年結束家外安置自立生活協助服務」等三個方案，對彰化地區遭遇變故或傷害的兒少及其家庭提供心理、家庭、就學、就業及生活上的支持與協助。
                <br>
                <br>本會期望未來能在暨有服務的基礎之上，透過在職進修與督導的方式，持續培育本會專職社工人員具備更專業的社會工作實務能力，以期本會提供的兒少及家庭服務，能夠有效的協助案主，使案主的身心靈平衡，走出過去人生遭遇的橫逆與困境，追求更好的生活。我們也期待本會的志工隊能夠繼續成長茁壯，為本會的專業服務提供堅強的後盾。
                <br>
                <br>各位會員先進及關心本會的朋友，如果有任何建議或指教，請不吝告知本人或團隊夥伴，我們一起努力，讓社團法人臺灣家庭希望發展協會更好、對社會帶來更大的貢獻！
                <br>
                <br>第一屆理事長
                <br>劉鶴群 敬上
                <br>2018年6月11日
              </p>
              <h2>宗旨</h2>
              <p>
本會名稱為「 社團法人臺灣家庭希望發展協會 」，是為亞洲大學社會工作學系師生共同創立之依法設立、非營利為目的社會團體，以使弱勢兒少及其家庭能「懷抱希望，健康發展」為協會服務宗旨。
              </p>
              <h2>組織圖</h2>
              <p>
「社團法人臺灣家庭希望發展協會」組織架構圖
              </p>
                <img src="img/org.png" style="display:block; margin:auto;">
              <h2>服務項目</h2>
              <p>
                    (一) 弱勢兒童及少年課後照顧與輔導。
                    <br>(二) 兒童及少年結束家外安置後續追蹤輔導服務。
                    <br>(三) 兒童及少年結束家外安置自立生活協助方案。
                    <br>(四) 兒童及少年性剝削個案後續追蹤輔導暨家長親職教育方案。
                    <br>(五) 家庭暴力加害人認知輔導教育團體方案。
              </p>
          </div>
      </div>
  </div>
</div>

<!-- Meet Our Team -->
<div class="team-container">
  <div class="container">
     

  </div>
</div>