<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
            <div class=" page-title wow fadeIn text-left">
                
                <h1>關於我們！</h1>
               
            </div>
        </div>
    </div>
</div>

<!-- About Us Text -->
        <div class="about-us-container">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 about-us-text wow fadeInLeft about-p">
                      <h2>緣起</h2>
                      <p>
本會名稱為「 社團法人臺灣家庭希望發展協會 」，是為亞洲大學社會工作學系師生共同創立之依法設立、非營利為目的社會團體，以使弱勢兒少及其家庭能「懷抱希望，健康發展」為協會服務宗旨。

                      </p>
                      <h2>服務項目</h2>
                      <p>
                            (一) 提供弱勢兒童及少年課後照顧與輔導。
                            <br>(二) 建構「希望商店」之二手物資義賣平臺。
                            <br>(三) 成立並培訓希望發展志願服務隊。
                            <br>(四) 承接以下彰化縣政府三方案:
                            <br>1.  兒童及少年結束家外安置後續追蹤輔導服務
                            <br>2.  兒童及少年結束家外安置自立生活協助方案
                            <br>3.  兒童及少年性剝削個案後續追蹤輔導暨家長親職教育方案
                      </p>
                      <h2>組織圖</h2>
                      <p>
社團法人臺灣家庭希望發展協會組織架構圖

                      </p>
                        <img src="img/org.png" style="display:block; margin:auto;">
                        <h2>組織圖</h2>
                      <p>
本會名稱為「 社團法人臺灣家庭希望發展協會 」，是為亞洲大學社會工作學系師生共同創立之依法設立、非營利為目的社會團體，以使弱勢兒少及其家庭能「懷抱希望，健康發展」為協會服務宗旨。

                      </p>
                  </div>
              </div>
          </div>
        </div>

        <!-- Meet Our Team -->
        <div class="team-container">
          <div class="container">
             

          </div>
        </div>