<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
            <div class="text-left page-title wow fadeIn">
                <h1>聯絡我們！</h1>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us -->

        <div class="contact-us-container">
	<div class="container">
      <div class="row">
          
          <div class=" contact-address wow fadeInUp">
              <h2>我們在這！</h2>
                
                <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3643.642157675999!2d120.68638701501615!3d24.04368088342596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693b1803ef42a1%3A0x58d518d63066dabd!2zNDEz5Y-w5Lit5biC6Zyn5bOw5Y2A5p-z6LGQ6LevNTAw6Jmf!5e0!3m2!1szh-TW!2stw!4v1526310548973"></iframe>
                <h2>粉絲頁！</h2>   

                    
        <div class="fb-page container" data-href="https://www.facebook.com/taiwanfamilyhope/?ref=br_rs" data-tabs="timeline" data-width="500" data-height="auto" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/taiwanfamilyhope/?ref=br_rs" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/taiwanfamilyhope/?ref=br_rs">社團法人臺灣家庭希望發展協會</a></blockquote></div>
              <h2>聯絡資訊</h2>
              <p>Via Principe Amedeo 910100, Torino, TO, Italy</p>
              <p>電話: 0039 333 12 68 347</p>
          </div>
      </div>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>