<!-- Slider -->
<div class="slider-container">
    <div class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="img/slider/3.jpg">
                </li>
                <li>
                    <img src="img/slider/2.jpg">
                </li>
                <li>
                    <img src="img/slider/1.jpg">
                </li>
                <li>
                    <img src="img/slider/4.jpg">
                </li>
                <li>
                    <img src="img/slider/5.jpg">
                </li>                        
            </ul>
        </div>
    </div>
</div>

<!-- Presentation -->
 <!-- <div class="presentation-container">
	<div class="container">
		<div class="row">
  		<div class="col-sm-12 wow fadeInLeftBig">
      		<h1>This is <span class="colored-text">Gioia</span>, a Bootstrap business template.</h1>
      		<p>
      			Download this theme <a href="http://azmind.com" target="_blank">from here</a> for free, 
      			use it and customize it as you like.
      		</p>
      	</div>
    	</div>
	</div>
</div>

<!-- Services -->
<div class="services-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 work-title wow fadeIn">
          <h2>最新消息</h2>
      </div>
    </div>     
  </div>  
</div>  
<div class="services-container">
<div class="container">

<% @stories.each do |story| %>
  <ul href="#" class="list-group-item list-group-item-action">
    <div class="post_date text-left">
      <em>
        <%= link_to story.date, story %>
      </em>
    </div>

    <div class="title_small_post text-left">
      <%= link_to story do %>
        <h5><%= story.title %></h5>
      <% end %>
    </div>
  </ul>
<% end %>


<div class="pagination pull-right" >
  <span id="ContentPlaceHolder1_ListView1_DataPager1"><a class="fa fa-chevron-left" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$ListView1$DataPager1$ctl00$ctl00&#39;,&#39;&#39;)"></a>&nbsp;<a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$ListView1$DataPager1$ctl01$ctl00&#39;,&#39;&#39;)">1</a>&nbsp;<span>2</span>&nbsp;<a class="aspNetDisabled fa fa-chevron-right"></a>&nbsp;</span>
</div>

</div>
</div>