<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
            <div class=" page-title wow fadeIn text-left">
                
                <h1>愛心捐助！</h1>
               
            </div>
        </div>
    </div>
</div>

<!-- About Us Text -->
<div class="about-us-container">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 about-us-text wow fadeInLeft about-p">
                <h2>小小愛心，大大希望</h2>
                <p>    
                您的愛心捐款，將使更多孩童、青少年及家庭得到幫助，擁有更好的生活，幫助他們完成夢想。
                <br>本會將充分運用每一筆捐款，提供孩童、青少年及家庭更好的服務，讓他們得到更多關懷、更多溫暖。
                </p>
                
                <h2>捐款方式</h2>
              <p>
                    匯款銀行：國泰世華銀行（代號013）
                    <br>帳 號：240-03-500854-4
                    <br>戶 名：臺灣家庭希望發展協會劉鶴群
                    <br>匯款後請提供相關郵局/匯款證明、捐款戶名、通訊地址、連絡電話後
                    <br>您可選擇：
                    <br>1、電子信箱：taiwanfamilyhope@gmail.com
                    <br>2、聯繫電話: (04)23323456＃5951
                    <br>本會將於收到捐款後開立收據給您。
              </p>                 
          </div>
            <div class="col-sm-4 about-us-text wow fadeInLeft about-p"> 
              <img src="/img/love.png">
          </div>
      </div>
  </div>
</div>

<!-- Meet Our Team -->