<!-- Page Title -->
        <div class="page-title-container">
            <div class="container">
                <div class="row">
                    <div class="text-left page-title wow fadeIn">

                        <h1>活動剪影！</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio -->
        <div class="portfolio-container">
	        <div class="container">
	            <div class="row">
	            </div>
	            <div class="row">
	            	<div class="col-sm-12 portfolio-masonry">
		                <% @albums.each do |album| %>
			                <div class="portfolio-box web-design">
			                	<div class="portfolio-box-container">
			                		<div style='background: url("<%= url_for(album.images.first) %>") no-repeat center center; background-size: cover; padding-top: 68.75%;'></div>
			                		<%#= image_tag album.images.first, data: { at2x: url_for(album.images.first) } %>
				                	<!-- <img src="/img/portfolio/work1.jpg"  alt="" data-at2x="/img/portfolio/work1.jpg" > -->
				                	<div class="portfolio-box-text">
				                		<h3><%= album.title %></h3>
				                		<%= simple_format album.description %>
				                		<%= link_to "Click!", album, class: "btn btn-primary" %>
				                	</div>
				                </div>
			                </div>                     
			              <% end %>
	                </div>
	            </div>
	        </div>
        </div>
        
        <!-- Call To Action -->