<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
            <div class=" page-title wow fadeIn text-left view_butten">
                
                <h1>最新消息！</h1>
               
            </div>
        </div>
    </div>
</div>

<!-- About Us Text -->
<div class="about-us-container">
	<div class="container">
      <div class="row">
          <div class="col-sm-12 about-us-text wow fadeInLeft about-p">
                <h2><%= @story.title %></h2>

                    <p>
                        日期： <%= @story.date %>
                    </p>
                <%= image_tag @story.cover, class: "display:block; margin:auto;" %>
                <%= simple_format @story.description %>
          </div>
      </div>
  </div>
</div>

<!-- Meet Our Team -->
<div class="team-container">
	<div class="container">
     

  </div>
</div>

<!-- Testimonials -->
<div class="testimonials-container">
  <div class="container">
  	<div class="row">
        <div class="col-sm-12 testimonials-title wow fadeIn">
            <h2>祝福的話</h2>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-10 testimonial-list wow fadeInLeft">
          	<div role="tabpanel">
          		<!-- Tab panes -->
          		<div class="tab-content">
          			<div role="tabpanel" class="tab-pane fade in active" id="tab1">
          				<div class="testimonial-image">
          					<img src="/img/testimonials/1.jpg" alt="" data-at2x="/img/testimonials/1.jpg">
          				</div>
          				<div class="testimonial-text">
                            <p>
                            	人子麼面是件廣地媽公光地其紀當還個了一減相高不，看時組：檢包作族點無光收命之坡在天行子不無被說收隊……都收大斯持百；率解地化像數真道此人。中一發決值能兒照立治。足然金食面次個不。率答裡學結能則古。市興候。對居可們本長離，紅升多快調所比是活一不。..."<br>
                            	<a href="#">王小明</a>
                            </p>
                          </div>
          			</div>
          			<div role="tabpanel" class="tab-pane fade" id="tab2">
          				<div class="testimonial-image">
          					<img src="/img/testimonials/2.jpg" alt="" data-at2x="/img/testimonials/2.jpg">
          				</div>
          				<div class="testimonial-text">
                            <p>
                            	"容國沒家保……不健除寫片……字多自留死事之權部覺紀防國車力：式感心出、無工洋，一是業：人的了房系是寫新電重己裡因懷沒得。目行可時久技走居以負！義電時手就參河、務開間他我？片最願小顯位對，突庭拉土論個河我。大臺關古假善特天超小不酒神關形生的視像年他身聲？算提看起題！..."<br>
                            	<a href="#">李大維</a>
                            </p>
                          </div>
          			</div>
          			<div role="tabpanel" class="tab-pane fade" id="tab3">
          				<div class="testimonial-image">
          					<img src="/img/testimonials/3.jpg" alt="" data-at2x="/img/testimonials/3.jpg">
          				</div>
          				<div class="testimonial-text">
                            <p>
                            	"多者平見個但選設……同地統十大天因；利且經印助格多那發此小運化當了但種黨用汽低公長國來不牛就覺：明國何存此新道大時但雄文。一市同！大上結讓具理條助找未推、廣正少的模勢他死財；的大多邊因門容大分，出列同人陽到術步好來成龍病男。..."<br>
                            	<a href="#">孔妹妹</a>
                            </p>
                          </div>
          			</div>
          			<div role="tabpanel" class="tab-pane fade" id="tab4">
          				<div class="testimonial-image">
          					<img src="/img/testimonials/4.jpg" alt="" data-at2x="/img/testimonials/4.jpg">
          				</div>
          				<div class="testimonial-text">
                            <p>
                            	"候呢當此視飛可，開車發作？用著每或反在消到資父代類無明……不們公特年們離以腦交一服賽行想出靜地際事可：親加專！女團可些兒時結生己隨，們東水弟年……於民城們快型價時，們創方……好每的代大什上常聞記管投衣生戲觀員國。..."<br>
                            	<a href="#">方小弟弟</a>
                            </p>
                          </div>
          			</div>
          		</div>
          		<!-- Nav tabs -->
          		<ul class="nav nav-tabs" role="tablist">
          			<li role="presentation" class="active">
          				<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
          			</li>
          			<li role="presentation">
          				<a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
          			</li>
          			<li role="presentation">
          				<a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
          			</li>
          			<li role="presentation">
          				<a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
          			</li>
          		</ul>
          	</div>
          </div>
          <div class="col-sm-2 testimonial-icon wow fadeInUp">
          	<div>
          		<span aria-hidden="true" class="icon_pushpin"></span>
          	</div>
          </div>
      </div>
  </div>
</div>