<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
            <div class=" page-title wow fadeIn text-left view_butten">
                
                <h1>最新消息！</h1>
               
            </div>
        </div>
    </div>
</div>

<!-- About Us Text -->
<div class="about-us-container">
	<div class="container">
      <div class="row">
          <div class="col-sm-10 about-us-text wow fadeInLeft about-p ">
              <h2><%= @story.title %></h2>
              <p>
                  日期： <%= @story.date %>
              </p>
              <% if @story.cover.attached? %>
                <%= image_tag @story.cover, style: "margin:auto; max-height:600px;" %>
              <% end %>
              <%= simple_format @story.description %>
          </div>
      </div>
  </div>
</div>

<!-- Meet Our Team -->
<div class="team-container">
	<div class="container">
     

  </div>
</div>